html {
    font-size: 22px;
}

body {
    background-color: whitesmoke
}

a {
    color: blue;
}

a:visited {
    color:blueviolet;
}

a:hover{
    color: brown;
}

table, tr, th, td, caption {
    border: 1px solid #bbb;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}